html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
body{
	font-size: 17px;
	background: #2ecc71 url('images/bg.jpg') no-repeat center center fixed;
	background-size: cover;
	font-family: 'Lato',"Open Sans", Arial;
	transition: ease-in-out all 300ms;
}
.soon {
    position:absolute;
    width: 600px;
    height: 150px;
    left:0; 
    right:0;
    top:0; 
    bottom:0;
    margin-top:50%;
    margin:auto;
    max-width:100%;
    max-height:100%;
}
.soon h1 {
	text-align: center;
	color: #fff;
	font-size: 3em;
	font-family: 'Lato';
	font-weight: 400;
}
.soon p{
	color: #fff;
	font-family: 'Lato';
	font-weight: 300;
	text-align: center;
  	margin: 0 auto;
  	font-size: 1.2em;
  	padding: 1.2em 0;
}
.soon form{
	margin: 0 auto;
	text-align: center;
}
input{
	transition: ease-in-out all 300ms;
}
.soon form input[type="password"]{
	height: 2.5em;
	color: #34495e;
	border-radius: 3px;
	border: none;
	padding: 0 .5em;
	padding-bottom: 0.1em;
	font-family: 'Lato';
	font-weight: 300;
	font-size: 0.8em;
}
.soon form input[type="password"]:focus{
	outline: none;
}
.soon form input[type="submit"]{
	height: 2.6em;
	color: #fff;
	background-color: transparent;
	border-radius: 3px;
	border: 2px solid #fff;
	padding: 0 1.5em;
	padding-bottom: 0.1em;
	font-family: 'Lato';
	font-weight: 400;
	font-size: .8em;
}
.soon form input[type="submit"]:hover{
	background-color:#fff;
	background: rgba(255, 255, 255, 0.3);
}

.count {
    position:relative;
    margin-bottom:6%;
    right: 8%;
    font-family: 'Lato';
}
.clock {
    font-size:75px;
    text-align:center;
}
.count h3 {
    position: absolute;
    right: 1%;
    top: 60%;
    color: #ffffff;
}
